.carousel {
  position: relative;
  width: calc(min(90rem, 90%));
  margin: 0 auto;
  column-gap: 3rem;
  padding-block: min(20vh, 3rem);
}

.carousel-indicators {
  border-radius: 3px;
  background-color: transparent;
}

.split-container {
  display: flex;
  align-items: center;
  gap: 10px;


  .display-celebrities {
    width: 30vw;
  }

  .text-carousel {
    color: $theme-text-grey;
    margin: 1rem;
  }

  .action-buttons {
    display: grid;
    gap: 5px;

    button {
      background-color: $theme-light-grey;
      color: $theme-primary;
    }
  }

  .celebrity-image-container {
    position: relative;
    height: 60vh;

    a.likes {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      cursor: pointer;

      img{
        height: 30px;
        width: 30px;
        object-fit: contain;
      }
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      object-fit: cover;
    }

    .likes-number{
      position: absolute;
      background-color: $theme-light;
      right: 1rem;
      bottom: 1rem;
      padding: 10px;
      border-radius: 10px;
      transition: all 0.2s;
      transform: translateY(30px);
      pointer-events: none;
      
      &.hide{
        opacity: 0;
      }
      &.show{
        opacity: 1;
        transform: none;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .carousel {
    display: flex;
    align-items: center;
  }
}

