// ? Home Page
body{
  margin: 0;
  background-image: url('https://unsplash.com/photos/3qBi6HWZMeg');
}


// ? Not Found Page

.not-found {
background-image: url('https://res.cloudinary.com/dwgwkeccm/image/upload/v1697121177/Project-4/pexels-ivan-samkov-7671166_x3c2jx.jpg');
// background-image: url('https://res.cloudinary.com/dwgwkeccm/image/upload/v1697120395/Project-4/pexels-max-rahubovskiy-7166555_gaj4it.jpg');
background-size: cover;
min-height: 100vh;
h1 {
  color: white;
}
}