@import 'https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Poppins:wght@300&display=swap';

//*Fonts
$text-font: 'Poppins', sans-serif;
$title-font: 'Playfair Display', serif;

//*Color
$theme-primary: #890000;
$theme-secondary: #FDEC9E;
$theme-light: #ECEAE6;
$theme-light-grey: #ffffff80;
$theme-dark-grey: #3e3535;

//*Text
$theme-text-light: #ffffff;
$theme-text-grey: #444;